<?xml version="1.0" ?>
<config>
    <modules>
        <Chatra_Chatrawidget>
            <version>0.0.1</version>
        </Chatra_Chatrawidget>
    </modules>
    <global>
        <blocks>
            <chatrawidget>
                <class>Chatra_Chatrawidget_Block</class>
            </chatrawidget>
        </blocks>
        <helpers>
            <chatrawidget>
                <class>Chatra_Chatrawidget_Helper</class>
            </chatrawidget>
        </helpers>
    </global>
    <frontend>
        <routers>
            <chatrawidget>
                <use>standard</use>
                <args>
                    <module>Chatra_Chatrawidget</module>
                    <frontName>chatrawidget</frontName>
                </args>
            </chatrawidget>
        </routers>
        <layout>
            <updates>
                <chatrawidget>
                    <file>chatrawidget.xml</file>
                </chatrawidget>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <chatrawidget>
                                            <title>Chatra Chat</title>
                                        </chatrawidget>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>